<form (ngSubmit)="onSubmitForm()" id="teste">
  <div class="input-group">
    <p>
      <label for="initial-investiment">Initial Investiment</label>
      <input
        id="initial-investiment"
        [(ngModel)]="initialInvestment"
        name="initialInvestment"
        type="number"
      />
    </p>
    <p>
      <label for="annual-investiment">Annual Investiment</label>
      <input
        id="annual-investiment"
        name="annualInvestment"
        [(ngModel)]="annualInvestment"
        type="number"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        id="expected-return"
        [(ngModel)]="expectedReturn"
        name="expectedReturn"
        type="number"
      />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input
        id="duration"
        [(ngModel)]="duration"
        name="duration"
        type="number"
      />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
  @if(showResults){
  <app-investiment-results></app-investiment-results>
  }
</form>
